html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: aliceblue;
    /* background-image: url("img/back.jpg"); */
}

.header .one {
    color: #070707;
    background-color: aliceblue;
    border: none;
    font-size: 1.3vw;
    cursor: pointer;
}

.home .palka {
    color: #070707;
}

.home .eng {
    color: #070707;
}

.header img {
    position: absolute;
    left: 17%;
    width: 3vw;
    top: 1%;
    color: #070707;
    background-color: #070707;
}

.header {
    /* bottom: 50px; */
    width: 40%;
    /* position: absolute; */
    margin-left: 30%;
}

.header ul {
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    justify-content: space-between;
    font-size: 1.3vw;
    padding-left: 0;
    font-weight: bold;
    cursor: pointer;
    /* float: left; */
    /* margin-right: 30px; */
    /* float: left; */
}

.header li a{
    text-decoration: none;
    color: #828282;
}

.header li a:hover {
    color: #070707;
    transition: .3s;
}

.header li a:active {
    color: #070707;
}

.text h1 {
    color: #070707;
    margin-bottom: 0;
    /* font-size: 2.3vw; */
    font-weight: bolder;
    line-height: 2.1vw;
}

.text h4 {
    color: #828282;
    cursor: pointer;
    margin-bottom: 4px;
    font-size: 1.1vw;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    /* text-orientation: upright; */
}

.text .h4 a{
    text-decoration: none;
    color: #828282;
    transition: .5s;

}

.text .h4 a:hover {
    color: #070707;
    transition: .3s;
}

.text p {
    font-size: 1vw;
    margin-bottom: 4px;
    color: #070707;
    /* align-items: flex-end; */
}

.text {
    /* width: 80%; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: flex-end;
    /* margin-bottom: 0; */
}

.img img{
    /* position: absolute; */
    /* left: 3%; */
    width: 65.5vw;
    margin-top: 1.5%;
}

.spam:hover {
    color: #070707;
    transition: .3s;
} 

.home {
    border-top: 1px solid #828282;
    width: 66%;
    /* position: absolute; */
    margin-left: 17%;
    padding-top: 2%;
    margin-top: 1%;
}

.about {
    color: #070707;
    /* position: absolute; */
    margin-top: 6%;
    text-align: center;
    /* width: 100%; */
    background-color: #c7c7c73b;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.about h1 {
    margin-bottom: 2%;
    font-size: 2.3vw;
}

.about p {
    margin-bottom: 3%;
    font-size: 1vw;
}

.skill {
    color: #070707;
    width: 66vw;
    /* position: absolute; */
    margin-left: 17%;
    padding-top: 5%;
    text-align: center;
}

.skill h1{
    font-size: 2.3vw;
    margin-bottom: 10%;
}

.skil {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    /* line-height: 30px; */
}

.skil p {
    color: #828282;
    font-size: 1vw;
}

.icon {
    margin-bottom: 50%;
    /* width: 14vw; */
}

.icon img {
    width: 6vw;
}

.icon h2 {
    font-size: 1.3vw;
}

.portfolio {
    padding-top: 6%;
    color: #070707;
    background-color: #c7c7c73b;
    text-align: center;
}

.portfolio img {
    width: 66vw;
}

.portfolio h1 {
    font-size: 2.3vw;
    margin-bottom: 4%;
}

.maket a {
    font-size: 1.3vw;
    color: #070707;
    text-decoration: none;
    border-bottom: 1px solid;
}

.maket {
    padding-bottom: 6%;
}

.footer {
    color: #070707;
    text-align: center;
    padding-top: 5%;
    width: 20vw;
    margin-left: 40%;
}

.footer h1 {
    font-size: 2.3vw;
    margin-bottom: 1.5%;
}

.footer p{
    font-size: 1.1vw;
    margin-bottom: 2%;
}

.footer h4 {
    color: aliceblue;
    text-decoration: none;
    width: 7vw;
    padding: 1vh 1.3vw;
    background-color: #070707;
    font-size: 1vw;
    border-radius: 50px;
    margin-left: 26%;
    margin-top: 13%;
    margin-bottom: 26%;
    cursor: pointer;
}

.footer h4:active {
    color: #070707;
    background-color: #c7c7c73b;
}

.footer h4:hover {
    color: #070707;
    background-color: #777777;
}

.footer img {
    width: 3vw;
    background-color: #070707;
    padding: 5px 5px;
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;

}

.foot p {
    color: #828282;
    font-size: 0.7vw;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 6%;
}

/* .arrowUp {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 30px;
    height: 30px;
    background: linear-gradient(130deg, #dfdfdf 50%, #6a0e7c 50%);
    -webkit-background-size: 300%;
    background-size: 300%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* font-size: 50px; 
    border-radius: 50%;
    padding: 30px 30px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transform: translateY(26px);
} */

.arrowUp {
    /* padding: 30px 30px; */
    position: fixed;
    bottom: 5%;
    /* bottom: 50px; */
    right: 3%;
    z-index: 1000;
    /* right: 50px; */
    /* width: 33px; */
    width: 100px;
    /* height: 33px; */
    height: 100px;
    background: linear-gradient(130deg, #dfdfdf 50%, #6a0e7c 50%);
    -webkit-background-size: 850%;
    display: flex;
    justify-content: center;
    /* color: #dcdcdc; */
    cursor: pointer;
    visibility: hidden;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    opacity: 0;
    transition: .5s;
    transform: translateY(26px);
    font-size: 2vw;
}

.arrowUp::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    content: '↟';
    /* transition: .3s; */
}

.arrowUp-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    /* transition: .5s; */
}

.arrowUp:hover {
    background-position: 100% 0%;
    color:#dcdcdc;
    /* transform: 0.1s; */
}

.scroll-up_svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: #6a0e7c;
    stroke-width: 3px;
    transition: .3s;
}


.switch {
    text-align: center;
    /* width: 5%; */
    position: absolute;
    right: 17%;
    top: 1.5%;
    /* top: 3px; */
}

input[type="checkbox"] {
    position: relative;
    width: 4vw;
    height: 3vh;
    -webkit-appearance: none;
    outline: none;
    background-color: #070707;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: aliceblue;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    top: 5.64%;
    left: 2.5%;
    background: aliceblue;
    transition: .5s;
    cursor: pointer;
    /* transform: scale(1.1); */
}

input:checked[type="checkbox"]::before {
    left: 2.6vw;
    background-color: #070707;
}

.switch p {
    /* text-align: center; */
    color: #070707;
    font-size: 0.7vw;
    margin: 0;
}


/* .lol { */
    /* text-decoration: none;
    background-color: #070707;
    color: aliceblue;
    border: none;
} */

/* hr {
    width: 71%;
} */